In [2]:
import gym

In [3]:
import pandas as pd
import os

In [4]:
mlens_1m_base_path = "/home/ssk/Desktop/Master Thesis/code/mlp-master-thesis-personalization-main/data/dt-datasets/movielens/ml-1m"

In [8]:
users_df = pd.read_csv(os.path.join(mlens_1m_base_path, "ratings.dat"), delimiter="::", header=None)

/tmp/ipykernel_111505/2136399923.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  users_df = pd.read_csv(os.path.join(mlens_1m_base_path, "ratings.dat"), delimiter="::", header=None)

            0     1  2          3
0           1  1193  5  978300760
1           1   661  3  978302109
2           1   914  3  978301968
3           1  3408  4  978300275
4           1  2355  5  978824291
...       ...   ... ..        ...
1000204  6040  1091  1  956716541
1000205  6040  1094  5  956704887
1000206  6040   562  5  956704746
1000207  6040  1096  4  956715648
1000208  6040  1097  4  956715569

[1000209 rows x 4 columns]

In [7]:
import pickle
with open ("/home/ssk/Desktop/master-thesis/master-thesis-personalization/data/dt-datasets/movielens/train-test-sets/mlens-train-trajectories-movies-as-actions-reduced-from-768-to-8_with_tanh.pkl", 'rb') as f:
    train_data = pickle.load(f)

len(train_data)

total_train_instances = sum([len(td['observations']) for td in train_data])
total_train_instances

72200

In [8]:
import pickle
with open ("/home/ssk/Desktop/master-thesis/master-thesis-personalization/data/dt-datasets/movielens/train-test-sets/mlens-test-trajectories-movies-as-actions-reduced-from-768-to-8_with_tanh.pkl", 'rb') as f:
    test_data = pickle.load(f)

len(test_data)

total_test_instances = sum([len(td['observations']) for td in test_data])
total_test_instances

28632